certifi==2017.4.17
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11.3
djangorestframework==3.6.3
drf-nested-routers==0.90.0
gunicorn==19.7.1
httpie==0.9.9
idna==2.5
numpy==1.13.1
psycopg2==2.7.2
Pygments==2.2.0
pytz==2017.2
requests==2.18.1
selenium==3.4.3
urllib3==1.21.1
virtualenv==15.1.0
