
<div class="registration-form">

   <div class="panel panel-default">

       
       <div class="panel-heading">
          <h3 class="panel-title">Login form</h3>
        </div>
       


       <div class="panel-body">



         
         <div class="input-group">
           
           <input type="text" class="form-control" ng-model="email_id" placeholder="Email-id" aria-describedby="basic-addon1" required>
           <span class="input-group-addon" id="basic-addon2">@example.com</span>

          </div>




        <div class="input-group" style="width:97%">
            <input type="Password" class="form-control" ng-model="password" placeholder="Password" aria-describedby="basic-addon1" required>
        </div>



        


       <div class="input-group" style="text-align: center;width:40%;margin:0 auto">
             
             <input type="button" class="form-control" value="Login" ng-click="submit_data()">
                
        </div>


      </div>



   </div>

</div>