<html>
  <head>
    <title> Register </title>
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> Google Plus Clone </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Freinds</a></li>
      <li><a href="#">Community</a></li>
    </ul>
  </div>
</nav>
    <p> This temaplte is for registration on web site </p>
  </body>
</html>